@model ForumSystem.Web.IntupModels.Questions.AskInputModel

@{
    ViewBag.Title = "Ask Question";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Ask","Questions",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div>
            @Html.LabelFor(model => model.Title)
            @Html.EditorFor(model => model.Title)
        </div>

        <div>
            @Html.LabelFor(model => model.Content)
            @Html.EditorFor(model => model.Content)
        </div>

        <div>
            @Html.LabelFor(model => model.Tags)
            @Html.EditorFor(model => model.Tags)
        </div>
    </div>
}